.bgimg {
	background-image: url('https://res.cloudinary.com/dgdwppkjk/image/upload/v1672225516/state-art-modern-smartphone-with-illuminated-locked-screen_695181-77_mfeywe.webp');
    background-size: cover;
	height: 100vh;
	}
.layoutcard {
	background-color: white;
	height: 200px;
	border-top-left-radius: 50px;
	padding: 20px;
}	
.heading {
	color: blue;
	font-family: 'Roboto';
	font-weight: bold;
}
.paraline {
	font-family: 'Roboto';
	color: grey;
}
