.bgimg3 {
	background-image: url('https://photos5.appleinsider.com/gallery/39602-98439-iPhone-Fold-colors-o.jpg');
	background-size: cover;
	height: 200vh;
}
.headfirst {
	color: white;
	font-family: 'Roboto';
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}
.cardlayout {
	background-color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: 100px;
	margin-top: 15px;
}
.cardcon {
	padding: 20px;
}
.headsecond {
	color: black;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: bold;
}
.paraline {
	color: grey;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: bold;
}
